body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
}

header {
    background-color: #ff0000;
    padding: 10px;
    font-size: 24px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

iframe {
    width: 80%;
    height: 60vh;
    border-radius: 10px;
}

footer {
    background-color: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
